{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in expense_category %}
                    <tr>{{category.name}}</tr>
                    <tr>{{category.receipts.all.count}}</tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </main>

</body>
</html>
