{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}

                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                </li>

                <li>
                    <a href="{% url 'category_list' %}">Category List</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">Account List</a>
                </li>
                {% else %}

                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>

                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>

                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
            {% if user.is_authenticated %}
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in receipts %}
                    <tr>
                        <td>
                            {{ entry.vendor }}
                        </td>
                        <td>
                            {{ entry.total }}
                        </td>
                        <td>{{ entry.tax }}</td>
                        <td>
                            {{ entry.date|date:"m/d/y" }}
                        </td>
                        <td>
                            {{ entry.category.name }}
                        </td>
                        <td>
                            {{ entry.account.name }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
    </main>

</body>
</html>
